*{
    transition: all 0.5s;
}
#navbar {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  text-align: center;
  background: rgb(67, 67, 213);


  color: white;
}

#home {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.721);
}

#home::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%; /* Ensures the image covers the full width */
    height: 100%; /* Ensures the image covers the full height */
    background: url('https://media.istockphoto.com/id/1199749863/photo/retail-gasoline-station-and-convenience-store-reworked.jpg?s=612x612&w=0&k=20&c=C67m2SFiPxbMNaWEmL8_dfMC2MtRkNWFydZ_6GmwQXM=') no-repeat center center;
    background-size: cover; /* Ensures the image scales properly */
    z-index: -1; /* Places the image behind other content */
}



.color1{
    background-color: #1f1d2d;
    color: white;
}
.color3{
    background-color: #1f1d2dec;
    color: white;
}
.color2{
    background-color: hsl(243, 59%, 7%);
    color: white;
}
.shadowof:hover{
    box-shadow: -8px 9px 4px  rgb(0, 0, 0);
}